@font-face
	font-family roboto
	src url("../fonts/RobotoCondensed-Regular.ttf")
grayScale(n)
		-webkit-filter: grayscale(n)
		-moz-filter: grayscale(n)
		-o-filter: grayscale(n)
		filter: grayscale(n)
Transition(n)
		-webkit-transition: n
		-moz-transition: n
		-o-transition: n
		transition: n		
@media screen and (max-width:645px)
	html,body
		font-family roboto
		height 100%
		width 100%
	header
		background url(../Images/header.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		height 100%
		padding-top 1px 
		text-align center
		width 100%
		#photo
			background url(../Images/photo.png)
			background-size 100%
			background-repeat no-repeat
			border 4px solid white
			border-radius 100%
			height 100px
			margin 22px auto
			width 100px
			
			&:hover
				border 4px solid #FFAD04
			
		h1,h2
			color white
		nav
			background-color #575757
			bottom -1px
			height 67px
			padding-top 5px
			position absolute
			text-align left
			vertical-align bottom
			width 100%
			h2
				display inline-block
				margin 3.5% 0px 5px 15px
				padding 0
				width 85%
				
			#menu
				background #00A9FF url(../Images/menu.png)
				background-size 100%
				background-repeat no-repeat
				border-radius 100%
				display inline-block
				height 40px
				position absolute
				right 3%
				top 24%
				width 40px
			#logo
				display none
			ul
				display none
				list-style none
				margin 0
				padding 0
				position absolute
				top 100%
				width 100%
				li
					background-color #D7D7D7
					padding 10px 0
					text-align center
					width 100%
					a
						color black
						text-decoration none
						
					&:hover
						background-color #818181
	main
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		width 100%
		#sobremi
			background-color #262721 //url(../Images/imagen.png)
			//background-repeat no-repeat
			//background-size 32% 54%
			//background-position 15px 10px
			border 7px solid #00A9FF
			margin 100px auto
			padding 5px
			text-align justify
			width 90%
			
			h3,p
				width 97%
			h3
				color #00A9FF
				font-size 23px
				margin 10px 5px 5px 5px
			p	
				color white
				font-size 17px
				margin 5px 5px 10px 5px
				
			&:hover
				border 7px solid #FFAD04

		#tabs
			div
				span
					color white
					font-weight bold
		section
			width 100%
			
			article
				display block
				margin 100px auto
				width 280px
					
				
				.image
					border 2px solid white
					height 270px
					margin auto
					Transition .6s linear
					width 270px
					
					.alpha
						height 100%
						opacity 0
						padding-top 1px
						text-align center
						Transition .6s linear
						width 100%
							
						.hiddenDiv
							background-color #022291
							border 1px solid black
							border-radius 5px
							height 25%
							margin 25% auto 10% auto
							outline 2px solid white
							outline-offset: -8px
							width 75%
							p
								color white
								margin 5px 15px 0px
								padding 0
							i
								color #7D7D7D
						&:hover
							background-color rgba(0,90,255,.8)
							opacity 1
						p
							color white
							margin 10px 0px

				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				
		#line
			background-color #232323
			height 75px
			width 100%
		#down
			article
				text-align center
				a
					color black
					text-decoration none
					.circle
						height 270px
						margin auto
						Transition 1s linear
						width 270px
						grayScale(100%)
						&:hover
							grayScale(0%)
					#image7
						background url(../Images/aboutme.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image8
						background url(../Images/curriculum.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image9
						background url(../Images/contacto.png)
						background-size 100% 100%
						background-repeat no-repeat
					
		
	footer
		background rgba(0,0,0, 0.85)
		height 100px
		text-align center
		width 100%
		
		p
			color white
			margin 0 5px 5px
			padding-top 20px
			
		#iconos
			margin auto
			text-align center
			i
				color white
				margin 0px 5px
				opacity 0.2
			#twitter:hover
				color #04A6DB
				opacity 1
			#facebook:hover
				color #02309B
				opacity 1
			#github:hover
				color #9F00FF
				opacity 1
		
	form
		background-color #393939
		margin 20px auto
		padding 10px
		width 70%
		
		input,label,textarea
			display block
			margin 10px auto
			width 50%
		label
			color white
			font-size 20px
			font-weight bold
		input,textarea
			background-color #E2E3DF
			border 1px solid #9C9F8E
			padding 3px
			
		#fechaInicio, #fechaFin
			margin 10px 24.5%
			width 25%
		#button
			background-color #0254B9
			color white
			margin auto
			width 25%
			&:hover
				background-color #00A9FF
	#tabs
		font-family roboto
		margin 100px auto
		width 81%
		
.fixed
	height 62px
	left  0
	position fixed
	top  0
	z-index 999

@media screen and (min-width:646px) and (max-width:960px)

	html,body
		font-family roboto
		height 100%
		width 100%
	header
		background url(../Images/header.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		height 100%
		padding-top 1px 
		text-align center
		width 100%
		#photo
			background url(../Images/photo.png)
			background-size 100%
			background-repeat no-repeat
			border 4px solid white
			border-radius 100%
			height 200px
			margin 45px auto
			width 200px
			
			&:hover
				border 4px solid #FFAD04
		h1,h2
			color white
		nav
			background-color #575757
			bottom -1px
			padding-top 5px
			position absolute
			text-align left
			vertical-align bottom
			width 100%
			
			h2
				display none
			#menu
				display none
			#logo
				background url(../Images/Logo.png)
				background-size 100%
				background-repeat no-repeat
				height 50px
				left 10px
				position absolute
				top 10px
				width 50px
			
			ul
				display inline
				float right
				list-style none
				margin 0px
				margin-right 20px
				padding 0px
				
				li
					border-bottom 2px solid #575757
					display inline-block
					margin 30px 7px 0px 0px
					padding-bottom 8px
					
					a
						color white
						text-decoration none
						width 100%
					&:hover 
						border-bottom 2px solid white		
	main
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		width 100%
		#sobremi
			background #262721 url(../Images/imagen.png)
			background-position 15px 10px
			background-repeat no-repeat
			background-size 32% 54%
			border 7px solid #00A9FF
			margin 30px auto
			padding 5px
			text-align justify
			width 600px
			
			h3,p
				width 61%
			h3
				color #00A9FF
				font-size 23px
				margin 10px 0 0 37%
			p	
				color white
				font-size 17px
				margin 5px 0 10px 37%
			#bajo, p:last-child
				margin 5px 5px 10px 10px
				width 95%
			&:hover
				border 7px solid #FFAD04
		#tabs
			div
				span
					color white
					font-weight bold
		section
			margin 50px auto
			width 625px
			article
				display inline-table		
				width 300px
				margin 5px
				
				.image
					border 2px solid white
					height 290px
					margin auto
					Transition .6s linear
					width 290px
					
					.alpha
						height 100%
						opacity 0
						padding-top 1px
						text-align center
						Transition .6s linear
						width 100%
							
						.hiddenDiv
							background-color #022291
							border 1px solid black
							border-radius 5px
							height 25%
							margin 25% auto 10% auto
							outline 2px solid white
							outline-offset: -8px
							text-align center
							width 75%
							p
								color white
								margin 5px 15px 0px
								padding 0
							i
								color #7D7D7D

						&:hover
							background-color rgba(0,90,255,.8)
							opacity 1
						p
							color white		
							margin 0px 10px
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			background-color #232323
			height 100px
			width 100%
		#down
			article:last-child
				margin 0 25%
			article
				text-align center
				a
					color black
					text-decoration none
					.circle
						height 290px
						margin auto
						Transition 1s linear
						width 290px
						grayScale(100%)
						&:hover
							grayScale(0%)
					#image7
						background url(../Images/aboutme.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image8
						background url(../Images/curriculum.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image9
						background url(../Images/contacto.png)
						background-size 100% 100%
						background-repeat no-repeat
					p
						margin 5px 0
				
		
	footer
		background rgba(0,0,0, 0.85)
		height 100px
		text-align center
		text-align center
		width 100%
		
		p
			color white
			margin 0 5px 5px
			padding-top 20px
			
		#iconos
			margin auto
			text-align center
			i
				color white
				margin 0px 5px
				opacity 0.2
			#twitter:hover
				color #04A6DB
				opacity 1
			#facebook:hover
				opacity 1
				color #02309B
			#github:hover
				color #9F00FF
				opacity 1
	form
		background-color #393939
		margin 20px auto
		padding 10px
		width 70%
		
		input,label,textarea
			display block
			margin 10px auto
			width 50%
		label
			color white
			font-size 20px
			font-weight bold
		input,textarea
			background-color #E2E3DF
			border 1px solid #9C9F8E
			padding 3px
			
		#fechaInicio, #fechaFin
			margin 10px 24.5%
			width 25%
		#button
			background-color #0254B9
			color white
			margin auto
			width 25%
			&:hover
				background-color #00A9FF
	#tabs
		font-family roboto
		margin 100px auto
		width 80%
		
@media screen and (min-width:960px)

	html,body
		font-family roboto
		height 100%
		width 100%
	header
		background url(../Images/header.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		height 100%
		padding-top 1px 
		text-align center
		width 100%
		#photo
			background url(../Images/photo.png)
			background-size 100%
			background-repeat no-repeat
			border 4px solid white
			border-radius 100%
			height 200px
			margin 45px auto
			width 200px
			
			&:hover
				border 4px solid #FFAD04
		h1,h2
			color white
		nav
			background-color #575757
			bottom -1px
			position absolute
			vertical-align bottom
			padding-top 5px
			text-align left
			width 100%
			
			h2
				display none
			#menu
				display none
			#logo
				background url(../Images/Logo.png)
				background-repeat no-repeat
				background-size 100%
				height 50px
				left 10px
				position absolute
				top 10px
				width 50px
			
			ul
				display inline
				float right
				list-style none
				margin 0px
				padding 0px
				
				li
					border-bottom 2px solid #575757
					display inline-block
					margin 30px 20px 0px 0px
					padding-bottom 8px
					
					a
						color white
						text-decoration none
						width 100%
					&:hover 
						border-bottom 2px solid white		
	main
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		width 100%
		#sobremi
			background #262721 url(../Images/imagen.png)
			background-repeat no-repeat
			background-size 38% 94%
			background-position 10px 10px
			border 7px solid #00A9FF
			margin 30px auto
			padding 5px
			text-align justify
			width 800px
			
			h3,p
				width 50%
			h3
				margin 10px 5px 0 45%
				color #00A9FF
				font-size 23px
			p	
				color white
				font-size 17px
				margin 5px 5px 10px 45%
			&:hover
				border 7px solid #FFAD04
		#tabs
			div
				span
					color white
					font-weight bold
		section
			margin 50px auto
			width 939px
			article
				display inline-table		
				margin 5px	
				width 300px
				
				.image
					border 2px solid white
					height 290px
					margin auto
					Transition .6s linear
					width 290px
					
					.alpha
						height 100%
						opacity 0
						padding-top 1px
						text-align center
						Transition .6s linear
						width 100%
							
						.hiddenDiv
							background-color #022291
							border 1px solid black
							border-radius 5px
							height 25%
							margin 25% auto 10% auto
							outline 2px solid white
							outline-offset: -8px
							text-align center
							width 75%
							p
								color white
								margin 5px 15px 0px
								padding 0
							i
								color #7D7D7D

						&:hover
							background-color rgba(0,90,255,.8)
							opacity 1
						p
							color white		
							margin 0px 10px
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			background-color #232323
			height 100px
			width 100%
		#down
			article
				text-align center
				a
					color black
					text-decoration none
					.circle
						height 290px
						margin auto
						Transition 1s linear
						width 290px
						grayScale(100%)
						&:hover
							grayScale(0%)
					#image7
						background url(../Images/aboutme.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image8
						background url(../Images/curriculum.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image9
						background url(../Images/contacto.png)
						background-size 100% 100%
						background-repeat no-repeat
					
		
	footer
		background rgba(0,0,0, 0.85)
		height 100px
		text-align center
		width 100%
		
		p
			color white
			margin 0 5px 5px
			padding-top 20px
			
		#iconos
			margin auto
			text-align center
			i
				color white
				margin 0px 5px
				opacity 0.2
			#twitter:hover
				color #04A6DB
				opacity 1
			#facebook:hover
				color #02309B
				opacity 1
			#github:hover
				color #9F00FF
				opacity 1
	form
		background-color #393939
		margin 20px auto
		padding 10px
		width 70%
		
		input,label,textarea
			display block
			margin 10px auto
			width 50%
		label
			color white
			font-size 20px
			font-weight bold
		input,textarea
			background-color #E2E3DF
			border 1px solid #9C9F8E
			padding 7px
			
		#fechaInicio, #fechaFin
			margin 10px 24.5%
			width 25%
		#button
			background-color #0254B9
			color white
			margin auto
			width 25%
			&:hover
				background-color #00A9FF
	#tabs
		font-family roboto
		margin 100px auto
		width 900px
		
