@font-face {
  font-family: roboto;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@media screen and (max-width: 645px) {
  html,
  body {
    min-width: 320px;
    font-family: roboto;
    height: 100%;
    width: 100%;
  }
  header{
    background-color: #232323;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
  }

  nav{
      text-align: center;
      font-size: 18px;
  }
  nav ul{
    display: none;
    padding: 0;
    z-index: 1;
    top: 100%;
    position: absolute;
    width: 100%;
    margin: 0px;
  }
  nav ul li{
    width: 100%;
    display: inline-block;
    background: #232323;
  }
  nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    line-height: 70px;
    width: 100%;
    height: 100%;
  }
  nav ul li a:hover{
    background: #5A5A5A; 
    color: #0096FF;
  }
  #menu{
    background: url("../Images/iconmenu.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    position: absolute;
    right: 3%;
    top: 24%;
    width: 40px;
  }
  #icon{
    background: url("../Images/Logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: absolute;
    left: 3%;
    top: 14%;
    width: 50px;
  }
  #logo{
    display: none;
  }
  main {
    background: rgba(105,105,105,0.90);
    padding: 30px 0px;
    width: 100%;
  }
  #titulo{
    background: url("../Images/titulo2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 62px;
    margin: 0 auto; 
  }
  #comp{
    background: url("../Images/comp2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 62px;
    margin: 0 auto; 
  }
  main #sobremi {
    margin: 100px auto;
    padding: 5px;
    text-align: justify;
    width: 90%;
  }
  main #sobremi h3,
  main #sobremi p,
  main #sobremi ul {
    width: 97%;
  }
  main #sobremi h3 {
    color: #0057E6;
    font-size: 23px;
    margin: 10px 5px 5px 5px;
  }
  main #sobremi p {
    font-size: 19px;
    margin: 5px 5px 10px 5px;
  }
  main #practicas {
    background-color: #262721;
    border: 7px solid #00a9ff;
    margin: 100px auto;
    padding: 5px;
    text-align: justify;
    width: 90%;
  }
  main #practicas h3,
  main #practicas ul {
    width: 100%;
    text-align: center;
  }
  main #practicas h3 {
    color: #00a9ff;
    font-size: 23px;
  }
  main #practicas ul{
    list-style: none;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
  }
  main #practicas ul li a{
    text-decoration: none;
    color: #fff;
  }
  main #practicas ul li a:hover{
    text-decoration: underline;
    color: #fff;
  }
  main #tabs div span {
    color: #fff;
    font-weight: bold;
  }
  main section {
    width: 100%;
  }
  main section article {
    display: block;
    margin: 50px auto;
    width: 280px;
  }
  main section article .image {
    border: 2px solid #fff;
    height: 270px;
    margin: auto;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 270px;
  }
  main section article .image .alpha {
    height: 100%;
    opacity: 0;
    padding-top: 1px;
    text-align: center;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 100%;
  }
  main section article .image .alpha .hiddenDiv {
    background-color: #022291;
    border: 1px solid #000;
    border-radius: 5px;
    height: 25%;
    margin: 25% auto 10% auto;
    outline: 2px solid #fff;
    outline-offset: -8px;
    width: 75%;
  }
  main section article .image .alpha .hiddenDiv p {
    color: #fff;
    margin: 5px 15px 0px;
    padding: 0;
  }
  main section article .image .alpha .hiddenDiv i {
    color: #7d7d7d;
  }
  main section article .image .alpha:hover {
    background-color: rgba(0,90,255,0.8);
    opacity: 1;
  }
  main section article .image .alpha p {
    color: #fff;
    margin: 10px 0px;
  }
  main section article #image1 {
    background: url("../Images/javascript.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image2 {
    background: url("../Images/design.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image3 {
    background: url("../Images/php.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image4 {
    background: url("../Images/android.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image5 {
    background: url("../Images/vstudio.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image6 {
    background: url("../Images/erp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main .line {
    background-color: #232323;
    height: 75px;
    width: 100%;
  }
  main #down article {
    text-align: center;
  }
  main #down article a {
    color: #000;
    text-decoration: none;
  }
  main #down article a .circle {
    height: 270px;
    margin: auto;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 270px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  main #down article a .circle:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  main #down article a #image7 {
    background: url("../Images/aboutme.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main #down article a #image8 {
    background: url("../Images/curriculum.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main #down article a #image9 {
    background: url("../Images/contacto.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer {
    background: rgba(0,0,0,0.85);
    height: 100px;
    text-align: center;
    width: 100%;
  }
  footer p {
    color: #fff;
    margin: 0 5px 5px;
    padding-top: 20px;
    font-size: 15px;
  }
  footer #iconos {
    margin: auto;
    text-align: center;
  }
  footer #iconos i {
    color: #fff;
    margin: 0px 5px;
    opacity: 0.2;
  }
  footer #iconos #twitter:hover {
    color: #04a6db;
    opacity: 1;
  }
  footer #iconos #facebook:hover {
    color: #02309b;
    opacity: 1;
  }
  footer #iconos #github:hover {
    color: #9f00ff;
    opacity: 1;
  }
  form {
    background-color: #393939;
    margin: 75px auto 20px;
    padding: 10px;
    width: 70%;
  }
  form input,
  form label,
  form textarea {
    display: block;
    margin: 10px auto;
    width: 50%;
  }
  form label {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  form input,
  form textarea {
    background-color: #e2e3df;
    border: 1px solid #9c9f8e;
    padding: 3px;
  }
  form #fechaInicio,
  form #fechaFin {
    margin: 10px 24.5%;
    width: 25%;
  }
  form #button {
    background-color: #0254b9;
    color: #fff;
    margin: auto;
    width: 25%;
  }
  form #button:hover {
    background-color: #00a9ff;
  }
  #tabs {
    font-family: roboto;
    margin: 100px auto;
    width: 81%;
  }
}
.fixed {
  height: 62px;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 999;
}
@media screen and (min-width: 646px) and (max-width: 959px) {
  html,
  body {
    font-family: roboto;
    height: 100%;
    width: 100%;
  }
  header{
    background-color: #232323;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
  }

  nav{
      text-align: center;
      font-size: 18px;
  }
  nav ul{
    display: inline-block;
    margin: 0 auto;
    height: 80px;
  }
  nav ul li{ 
    display: inline-block;
   
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 70px;
  }
  nav ul li a:hover{
    color: #0096FF;
  }
  nav ul li{
    vertical-align: top;
    width: 115px;
    margin: 0 10px;
  }
  #menu{
    display: none;
  }
  #icon{
    background: url("../Images/Logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    position: absolute;
    left: 3%;
    top: 14%;
    width: 50px;
  }
  #logo{
    display: none;
  }
  main {
    background: rgba(105,105,105,0.90);
    padding: 100px 0 30px 0;
    width: 100%;
  }
  #titulo{
    background: url("../Images/titulo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 62px;
    margin: 0 auto; 
  }
  main #sobremi {
    background: url("../Images/polaroid.png");
    background-position: 13px 45px;
    background-repeat: no-repeat;
    background-size: 35% 53%;
    margin: 30px auto;
    padding: 5px;
    text-align: justify;
    width: 600px;
  }
  main #sobremi h3,
  main #sobremi p,
  main #sobremi ul {
    width: 61%;
  }
  main #sobremi h3 {
    color: #0057E6;
    font-size: 23px;
    margin: 10px 0 0 37%;
  }
  main #sobremi p{
    font-size: 19px;
    margin: 5px 0 10px 37%;
  }
  main #sobremi #bajo,
  main #sobremi p:last-child {
    margin: 5px 5px 10px 10px;
    width: 95%;
  }
main #practicas {
    background-color: #262721;
    border: 7px solid #00a9ff;
    margin: 30px auto;
    padding: 5px;
    text-align: justify;
    width: 600px;
  }
  main #practicas h3,
  main #practicas ul {
    width: 100%;
    text-align: center;
  }
  main #practicas h3 {
    color: #00a9ff;
    font-size: 23px;
  }
  main #practicas ul{
    list-style: none;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
  }
  main #practicas ul li a{
    text-decoration: none;
    color: #fff;
  }
  main #practicas ul li a:hover{
    text-decoration: underline;
    color: #fff;
  }

  main #tabs div span {
    color: #fff;
    font-weight: bold;
  }
  main section {
    margin: 50px auto;
    width: 625px;
  }
  #comp{
    background: url("../Images/comp.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 62px;
    margin: 0 auto; 
  }
  main section article {
    display: inline-table;
    width: 300px;
    margin: 5px;
  }
  main section article .image {
    border: 2px solid #fff;
    height: 290px;
    margin: auto;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 290px;
  }
  main section article .image .alpha {
    height: 100%;
    opacity: 0;
    padding-top: 1px;
    text-align: center;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 100%;
  }
  main section article .image .alpha .hiddenDiv {
    background-color: #022291;
    border: 1px solid #000;
    border-radius: 5px;
    height: 25%;
    margin: 25% auto 10% auto;
    outline: 2px solid #fff;
    outline-offset: -8px;
    text-align: center;
    width: 75%;
  }
  main section article .image .alpha .hiddenDiv p {
    color: #fff;
    margin: 5px 15px 0px;
    padding: 0;
  }
  main section article .image .alpha .hiddenDiv i {
    color: #7d7d7d;
  }
  main section article .image .alpha:hover {
    background-color: rgba(0,90,255,0.8);
    opacity: 1;
  }
  main section article .image .alpha p {
    color: #fff;
    margin: 0px 10px;
  }
  main section article #image1 {
    background: url("../Images/javascript.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image2 {
    background: url("../Images/design.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image3 {
    background: url("../Images/php.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image4 {
    background: url("../Images/android.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image5 {
    background: url("../Images/vstudio.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image6 {
    background: url("../Images/erp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main .line {
    background-color: #232323;
    height: 100px;
    width: 100%;
  }
  main #down article:last-child {
    margin: 0 25%;
  }
  main #down article {
    text-align: center;
  }
  main #down article a {
    color: #000;
    text-decoration: none;
  }
  main #down article a .circle {
    height: 290px;
    margin: auto;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 290px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  main #down article a .circle:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  main #down article a #image7 {
    background: url("../Images/aboutme.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main #down article a #image8 {
    background: url("../Images/curriculum.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main #down article a #image9 {
    background: url("../Images/contacto.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main #down article a p {
    margin: 5px 0;
  }
  footer {
    background: rgba(0,0,0,0.85);
    height: 100px;
    text-align: center;
    text-align: center;
    width: 100%;
  }
  footer p {
    color: #fff;
    margin: 0 5px 5px;
    padding-top: 20px;
  }
  footer #iconos {
    margin: auto;
    text-align: center;
  }
  footer #iconos i {
    color: #fff;
    margin: 0px 5px;
    opacity: 0.2;
  }
  footer #iconos #twitter:hover {
    color: #04a6db;
    opacity: 1;
  }
  footer #iconos #facebook:hover {
    opacity: 1;
    color: #02309b;
  }
  footer #iconos #github:hover {
    color: #9f00ff;
    opacity: 1;
  }
  form {
    background-color: #393939;
    margin: 20px auto;
    padding: 10px;
    width: 70%;
  }
  form input,
  form label,
  form textarea {
    display: block;
    margin: 10px auto;
    width: 50%;
  }
  form label {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  form input,
  form textarea {
    background-color: #e2e3df;
    border: 1px solid #9c9f8e;
    padding: 3px;
  }
  form #fechaInicio,
  form #fechaFin {
    margin: 10px 24.5%;
    width: 25%;
  }
  form #button {
    background-color: #0254b9;
    color: #fff;
    margin: auto;
    width: 25%;
  }
  form #button:hover {
    background-color: #00a9ff;
  }
  #tabs {
    font-family: roboto;
    margin: 100px auto;
    width: 80%;
  }
}
@media screen and (min-width: 960px) {
  html,
  body {
    font-family: roboto;
    height: 100%;
    width: 100%;
  }
  header{
    background-color: #232323;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
  }

  nav{
      text-align: center;
      font-size: 18px;
  }
  nav ul{
    
    display: inline-block;
    margin: 0 auto;
    height: 80px;
    padding: 0;
  }
  nav ul li{ 
    display: inline-block;
   
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    line-height: 70px;
  }
  nav ul li a:hover{
    color: #0096FF;
  }
  nav ul li{
    vertical-align: top;
    width: 115px;
    margin: 0 10px;
  }
  #menu{
    display: none;
  }
  #icon{
    display: none;
  }
  #logo{
    background: url("../Images/Logo.png") no-repeat;
    background-size: 100%;
    width: 100px; 
    height: 100px;
  }
  main {
    background: rgba(105,105,105,0.90);
    padding: 90px 0 50px 0;
    width: 100%;
  }
  main #sobremi {
    background: url("../Images/polaroid.png");
    background-repeat: no-repeat;
    background-size: 39% 91%;
    background-position: 34px 50px;
    margin: 18px auto 45px auto;
    padding: 5px;
    text-align: justify;
    width: 900px;
  }
  main #sobremi h3,
  main #sobremi p,
  main #sobremi ul {
    width: 50%;
  }
  #titulo{
    background: url("../Images/titulo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 62px;
    margin: 0 auto; 
  }
  main #sobremi h3 {
    margin: 10px 5px 0 45%;
    color: #0057E6;
    font-size: 23px;
  }
  main #sobremi p {
    font-size: 19px;
    margin: 5px 5px 10px 45%;
  }
  
  main #practicas {
    background-color: #262721;
    border: 7px solid #00a9ff;
    margin: 30px auto;
    padding: 5px;
    text-align: justify;
    width: 800px;
  }
  main #practicas h3,
  main #practicas ul {
    width: 100%;
    text-align: center;
  }
  main #practicas h3 {
    color: #00a9ff;
    font-size: 23px;
  }
  main #practicas ul{
    list-style: none;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
  }
  main #practicas ul li a{
    text-decoration: none;
    color: #fff;
  }
  main #practicas ul li a:hover{
    text-decoration: underline;
    color: #fff;
  }
  main #tabs div span {
    color: #fff;
    font-weight: bold;
  }
  main section {
    margin: 30px auto;
    width: 939px;
  }
  #comp{
    background: url("../Images/comp.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 62px;
    margin: 0 auto; 
  }
  main section article {
    display: inline-table;
    margin: 5px;
    width: 300px;
  }
  main section article .image {
    border: 2px solid #fff;
    height: 270px;
    margin: auto;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 270px;
  }
  main section article .image .alpha {
    height: 100%;
    opacity: 0;
    padding-top: 1px;
    text-align: center;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 100%;
  }
  main section article .image .alpha .hiddenDiv {
    background-color: #022291;
    border: 1px solid #000;
    border-radius: 5px;
    height: 25%;
    margin: 25% auto 10% auto;
    outline: 2px solid #fff;
    outline-offset: -8px;
    text-align: center;
    width: 75%;
  }
  main section article .image .alpha .hiddenDiv p {
    color: #fff;
    margin: 5px 15px 0px;
    padding: 0;
  }
  main section article .image .alpha .hiddenDiv i {
    color: #7d7d7d;
  }
  main section article .image .alpha:hover {
    background-color: rgba(0,90,255,0.8);
    opacity: 1;
  }
  main section article .image .alpha p {
    color: #fff;
    margin: 0px 10px;
  }
  main section article #image1 {
    background: url("../Images/javascript.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image2 {
    background: url("../Images/design.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image3 {
    background: url("../Images/php.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image4 {
    background: url("../Images/android.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image5 {
    background: url("../Images/vstudio.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main section article #image6 {
    background: url("../Images/erp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main .line {
    background-color: #232323;
    height: 100px;
    width: 100%;
  }
  main #down article {
    text-align: center;
  }
  main #down article a {
    color: #000;
    text-decoration: none;
  }
  main #down article a .circle {
    height: 290px;
    margin: auto;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 290px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  main #down article a .circle:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  main #down article a #image7 {
    background: url("../Images/aboutme.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main #down article a #image8 {
    background: url("../Images/curriculum.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  main #down article a #image9 {
    background: url("../Images/contacto.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer {
    background: rgba(0,0,0,0.85);
    height: 100px;
    text-align: center;
    width: 100%;
  }
  footer p {
    color: #fff;
    margin: 0 5px 5px;
    padding-top: 20px;
  }
  footer #iconos {
    margin: auto;
    text-align: center;
  }
  footer #iconos i {
    color: #fff;
    margin: 0px 5px;
    opacity: 0.2;
  }
  footer #iconos #twitter:hover {
    color: #04a6db;
    opacity: 1;
  }
  footer #iconos #facebook:hover {
    color: #02309b;
    opacity: 1;
  }
  footer #iconos #github:hover {
    color: #9f00ff;
    opacity: 1;
  }
  form {
    background-color: #393939;
    margin: 20px auto;
    padding: 10px;
    width: 70%;
  }
  form input,
  form label,
  form textarea {
    display: block;
    margin: 10px auto;
    width: 50%;
  }
  form label {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  form input,
  form textarea {
    background-color: #e2e3df;
    border: 1px solid #9c9f8e;
    padding: 7px;
  }
  form #fechaInicio,
  form #fechaFin {
    margin: 10px 24.5%;
    width: 25%;
  }
  form #button {
    background-color: #0254b9;
    color: #fff;
    margin: auto;
    width: 25%;
  }
  form #button:hover {
    background-color: #00a9ff;
  }
  #tabs {
    font-family: roboto;
    margin: 100px auto;
    width: 900px;
  }
  .divtabs{
    height: 450px;
  }
}

