@font-face{
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSans-Semibold.ttf) format('truetype');
}
@font-face{
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face{
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}
html,body{
	margin: 0px;
	text-align: center;
	width: 100%;
	height: 100%;
	background: url(../Images/Rural_land.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
@font-face{
  font-family: MeriendaOne;
  src: url(../fonts/MeriendaOne.ttf) format('truetype');
}
#principal{
	padding-top: 20%; 
}
header{
	text-align: center;
}
h1{
	font-family: MeriendaOne;
	font-size: 50px;
	margin-top: 0;
	color: white;
	margin: auto;
}
input{
	width: 25%;
	margin: auto;
	display: block;
	padding: 10px;
	border: 1px solid #949685;
	background-color: #597A17;
	color: white;
	border-radius: 5px;
}

input[type="button"]:hover{
	background-color: #2C3C0B;
}
a{
	font-family: OpenSansRegular;
}
.img{
	width: 30%;
	height: 300px;
	background: url(../Images/arbol.png);
	background-size: 100% 100%;
	display: block;
}
#der{
	float:right;
}
#izq{
	float: left;
}