@font-face
	font-family roboto
	src url("../fonts/RobotoCondensed-Regular.ttf")
grayScale(n)
		-webkit-filter: grayscale(n)
		-moz-filter: grayscale(n)
		-o-filter: grayscale(n)
		filter: grayscale(n)
Transition(n)
		-webkit-transition: n
		-moz-transition: n
		-o-transition: n
		transition: n		
@media screen and (max-width:645px)
	html,body
		font-family roboto
		height 100%
		width 100%
	header
		background url(../Images/header.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		padding-top 1px 
		height 100%
		text-align center
		width 100%
		#photo
			background url(../Images/photo.png)
			background-size 100%
			background-repeat no-repeat
			height 150px
			margin 22px auto
			width 150px
			border-radius 100%
			border 4px solid white
			
			&:hover
				border 4px solid #FFAD04
			
		h1,h2
			color white
		nav
			text-align left
			background-color #575757
			width 100%
			height 67px
			position absolute
			vertical-align bottom
			bottom -1px
			padding-top 5px
			h2
				display inline-block
				width 85%
				padding 0
				margin 3.5% 0px 5px 15px
				
			#menu
				border-radius 100%
				position absolute
				display inline-block
				background #00A9FF url(../Images/menu.png)
				background-size 100%
				background-repeat no-repeat
				height 40px
				width 40px
				right 3%
				top 24%
			#logo
				display none
			ul
				display none
				list-style none
				margin 0
				padding 0
				width 100%
				position absolute
				top 100%
				li
					background-color #D7D7D7
					width 100%
					text-align center
					padding 10px 0
					a
						color black
						text-decoration none
						
					&:hover
						background-color #818181
	main
		width 100%
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		#sobremi
			border 7px solid #00A9FF
			padding 5px
			width 90%
			margin 100px auto
			background-color #262721 //url(../Images/imagen.png)
			//background-repeat no-repeat
			//background-size 32% 54%
			//background-position 15px 10px
			text-align justify
			
			h3,p
				width 97%
			h3
				margin 10px 5px 5px 5px
				color #00A9FF
				font-size 23px
			p	
				margin 5px 5px 10px 5px
				color white
				font-size 17px
				
			&:hover
				border 7px solid #FFAD04

		#tabs
			div
				span
					color white
					font-weight bold
		section
			width 100%
			
			article
				margin 100px auto
				width 280px
				display block
					
				
				.image
					width 270px
					height 270px
					border 2px solid white
					margin auto
					Transition .6s linear
					
					.alpha
						width 100%
						height 100%
						opacity 0
						Transition .6s linear
						padding-top 1px
						text-align center
							
						.hiddenDiv
							width 75%
							height 25%
							background-color #022291
							margin 25% auto 10% auto
							border 1px solid black
							border-radius 5px
							outline 2px solid white
							outline-offset: -8px
							p
								color white
								padding 0
								margin 5px 15px 0px
							i
								color #7D7D7D
						&:hover
							background-color rgba(0,90,255,.8)
							opacity 1
						p
							margin 10px 0px
							color white

				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				
		#line
			width 100%
			height 75px
			background-color #232323
		#down
			article
				text-align center
				a
					color black
					text-decoration none
					.circle
						width 270px
						height 270px
						margin auto
						Transition 1s linear
						grayScale(100%)
						&:hover
							grayScale(0%)
					#image7
						background url(../Images/aboutme.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image8
						background url(../Images/curriculum.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image9
						background url(../Images/contacto.png)
						background-size 100% 100%
						background-repeat no-repeat
					
		
	footer
		background rgba(0,0,0, 0.85)
		width 100%
		height 100px
		text-align center
		
		p
			color white
			padding-top 20px
			margin 5px
			
		#iconos
			margin auto
			text-align center
			i
				color white
				margin 0px 5px
				opacity 0.2
			#twitter:hover
				opacity 1
				color #04A6DB
			#facebook:hover
				opacity 1
				color #02309B
			#github:hover
				opacity 1
				color #9F00FF
		
	form
		background-color #393939
		width 70%
		margin 20px auto
		padding 10px
		
		input,label,textarea
			display block
			width 50%
			margin 10px auto
		label
			color white
			font-weight bold
		input,textarea
			border 1px solid #9C9F8E
			padding 3px
			border-radius 5px 5px 5px 5px
		#fechaInicio, #fechaFin
			width 25%
			margin 10px 24.5%
	#tabs
		width 70%
		margin 20px auto
		font-family roboto
		
.fixed
	position fixed
	top  0
	left  0
	height 62px
	z-index 999

@media screen and (min-width:646px) and (max-width:938px)

	html,body
		font-family roboto
		height 100%
		width 100%
	header
		background url(../Images/header.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		padding-top 1px 
		height 100%
		text-align center
		width 100%
		#photo
			background url(../Images/photo.png)
			background-size 100%
			background-repeat no-repeat
			height 200px
			margin 45px auto
			width 200px
			border-radius 100%
			border 4px solid white
			
			&:hover
				border 4px solid #FFAD04
		h1,h2
			color white
		nav
			text-align left
			background-color #575757
			width 100%
			position absolute
			vertical-align bottom
			bottom -1px
			padding-top 5px
			
			h2
				display none
			#menu
				display none
			#logo
				position absolute
				background url(../Images/Logo.png)
				background-size 100%
				background-repeat no-repeat
				height 50px
				width 50px
				left 10px
				top 10px
			
			ul
				margin 0px
				padding 0px
				float right
				margin-right 20px
				list-style none
				display inline
				
				li
					display inline-block
					margin 30px 7px 0px 0px
					border-bottom 2px solid #575757
					padding-bottom 8px
					
					a
						width 100%
						text-decoration none
						color white
					&:hover 
						border-bottom 2px solid white		
	main
		width 100%
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		#sobremi
			border 7px solid #00A9FF
			padding 5px
			width 600px
			margin 30px auto
			background #262721 url(../Images/imagen.png)
			background-repeat no-repeat
			background-size 32% 54%
			background-position 15px 10px
			text-align justify
			
			h3,p
				width 61%
			h3
				margin 10px 0 0 37%
				color #00A9FF
				font-size 23px
			p	
				margin 5px 0 10px 37%
				color white
				font-size 17px
			#bajo, p:last-child
				margin 5px 5px 10px 10px
				width 95%
			&:hover
				border 7px solid #FFAD04
		#tabs
			div
				span
					color white
					font-weight bold
		section
			width 625px
			margin 50px auto
			article
				margin 5px
				width 300px
				display inline-table		
				
				.image
					width 290px
					height 290px
					border 2px solid white
					margin auto
					Transition .6s linear
					
					.alpha
						width 100%
						height 100%
						opacity 0
						Transition .6s linear
						padding-top 1px
						text-align center
							
						.hiddenDiv
							text-align center
							width 75%
							height 25%
							background-color #022291
							margin 25% auto 10% auto
							border 1px solid black
							border-radius 5px
							outline 2px solid white
							outline-offset: -8px
							p
								color white
								padding 0
								margin 5px 15px 0px
							i
								color #7D7D7D

						&:hover
							background-color rgba(0,90,255,.8)
							opacity 1
						p
							margin 0px 10px
							color white		
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			width 100%
			height 100px
			background-color #232323
		#down
			article:last-child
				margin 0 25%
			article
				text-align center
				a
					color black
					text-decoration none
					.circle
						width 290px
						height 290px
						margin auto
						Transition 1s linear
						grayScale(100%)
						&:hover
							grayScale(0%)
					#image7
						background url(../Images/aboutme.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image8
						background url(../Images/curriculum.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image9
						background url(../Images/contacto.png)
						background-size 100% 100%
						background-repeat no-repeat
					p
						margin 5px 0
				
		
	footer
		background rgba(0,0,0, 0.85)
		width 100%
		height 100px
		text-align center
		text-align center
		
		p
			color white
			padding-top 20px
			margin 5px
			
		#iconos
			margin auto
			text-align center
			i
				color white
				margin 0px 5px
				opacity 0.2
			#twitter:hover
				opacity 1
				color #04A6DB
			#facebook:hover
				opacity 1
				color #02309B
			#github:hover
				opacity 1
				color #9F00FF
	form
		background-color #393939
		width 70%
		margin 20px auto
		padding 10px
		
		input,label,textarea
			display block
			width 50%
			margin 10px auto
		label
			color white
			font-weight bold
		input,textarea
			border 1px solid #9C9F8E
			padding 3px
			border-radius 5px 5px 5px 5px
		#fechaInicio, #fechaFin
			width 25%
			margin 10px 24.5%
	#tabs
		width 70%
		margin 20px auto
		font-family roboto
		
@media screen and (min-width:939px)

	html,body
		font-family roboto
		height 100%
		width 100%
	header
		background url(../Images/header.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		padding-top 1px 
		height 100%
		text-align center
		width 100%
		#photo
			background url(../Images/photo.png)
			background-size 100%
			background-repeat no-repeat
			height 200px
			margin 45px auto
			width 200px
			border-radius 100%
			border 4px solid white
			
			&:hover
				border 4px solid #FFAD04
		h1,h2
			color white
		nav
			text-align left
			background-color #575757
			width 100%
			position absolute
			vertical-align bottom
			bottom -1px
			padding-top 5px
			
			h2
				display none
			#menu
				display none
			#logo
				position absolute
				background url(../Images/Logo.png)
				background-size 100%
				background-repeat no-repeat
				height 50px
				width 50px
				left 10px
				top 10px
			
			ul
				margin 0px
				padding 0px
				float right
				list-style none
				display inline
				
				li
					display inline-block
					margin 30px 20px 0px 0px
					border-bottom 2px solid #575757
					padding-bottom 8px
					
					a
						width 100%
						text-decoration none
						color white
					&:hover 
						border-bottom 2px solid white		
	main
		width 100%
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		#sobremi
			border 7px solid #00A9FF
			padding 5px
			width 800px
			margin 30px auto
			background #262721 url(../Images/imagen.png)
			background-repeat no-repeat
			background-size 38% 94%
			background-position 10px 10px
			text-align justify
			
			h3,p
				width 50%
			h3
				margin 10px 5px 0 45%
				color #00A9FF
				font-size 23px
			p	
				margin 5px 5px 10px 45%
				color white
				font-size 17px
			&:hover
				border 7px solid #FFAD04
		#tabs
			div
				span
					color white
					font-weight bold
		section
			width 939px
			margin 50px auto
			article
				margin 5px
				
				width 300px
				display inline-table		
				
				.image
					width 290px
					height 290px
					border 2px solid white
					margin auto
					Transition .6s linear
					
					.alpha
						width 100%
						height 100%
						opacity 0
						Transition .6s linear
						padding-top 1px
						text-align center
							
						.hiddenDiv
							text-align center
							width 75%
							height 25%
							background-color #022291
							margin 25% auto 10% auto
							border 1px solid black
							border-radius 5px
							outline 2px solid white
							outline-offset: -8px
							p
								color white
								padding 0
								margin 5px 15px 0px
							i
								color #7D7D7D

						&:hover
							background-color rgba(0,90,255,.8)
							opacity 1
						p
							margin 0px 10px
							color white		
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			width 100%
			height 100px
			background-color #232323
		#down
			article
				text-align center
				a
					color black
					text-decoration none
					.circle
						width 290px
						height 290px
						margin auto
						Transition 1s linear
						grayScale(100%)
						&:hover
							grayScale(0%)
					#image7
						background url(../Images/aboutme.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image8
						background url(../Images/curriculum.png)
						background-size 100% 100%
						background-repeat no-repeat
					
					#image9
						background url(../Images/contacto.png)
						background-size 100% 100%
						background-repeat no-repeat
					
		
	footer
		background rgba(0,0,0, 0.85)
		width 100%
		height 100px
		text-align center
		
		p
			color white
			padding-top 20px
			margin 5px
			
		#iconos
			margin auto
			text-align center
			i
				color white
				margin 0px 5px
				opacity 0.2
			#twitter:hover
				opacity 1
				color #04A6DB
			#facebook:hover
				opacity 1
				color #02309B
			#github:hover
				opacity 1
				color #9F00FF
	form
		background-color #393939
		width 70%
		margin 20px auto
		padding 10px
		
		input,label,textarea
			display block
			width 50%
			margin 10px auto
		label
			color white
			font-weight bold
		input,textarea
			border 1px solid #9C9F8E
			padding 3px
			border-radius 5px 5px 5px 5px
		#fechaInicio, #fechaFin
			width 25%
			margin 10px 24.5%
	#tabs
		width 70%
		margin 20px auto
		font-family roboto
		
