grayScale(n)
		-webkit-filter: grayscale(n)
		-moz-filter: grayscale(n)
		-o-filter: grayscale(n)
		filter: grayscale(n)
Transition(n)
		-webkit-transition: n
		-moz-transition: n
		-o-transition: n
		transition: n

@media screen and (min-width:939px)

	html,body
		height 100%
		width 100%
	header
		background url(../Images/fondo.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		padding-top 1px 
		height 100%
		text-align center
		width 100%
		#photo
			background url(../Images/Logo.png)
			background-size 100%
			background-repeat no-repeat
			height 150px
			margin 45px auto
			width 150px
		p
			font-size 18px
			margin auto
			width 80%
			padding 0 0 20px 0
		nav
			text-align left
			background-color #575757
			width 100%
			position absolute
			vertical-align bottom
			bottom -1px
			padding-top 5px
			
			h2
				display none
			#menu
				display none
			#logo
				position absolute
				background url(../Images/Logo.png)
				background-size 100%
				background-repeat no-repeat
				height 50px
				width 50px
				left 10px
				top 10px
			
			ul
				margin 0px
				padding 0px
				float right
				list-style none
				display inline
				
				li
					display inline-block
					margin 30px 20px 0px 0px
					border-bottom 2px solid #575757
					padding-bottom 10px
					
					a
						width 100%
						text-decoration none
						color white
					&:hover 
						border-bottom 2px solid white		
	main
		width 100%
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		section
			width: 939px;
			margin 50px auto
			article
				margin 5px
				
				width 300px
				display inline-table		
				
				.image
					width 290px
					height 290px
					border 2px solid white
					margin auto
					Transition .6s linear
					
					.alpha
						width 100%
						height 100%
						opacity 0
						Transition .6s linear
						padding-top 1px
							
						.hiddenDiv
							text-align center
							width 70%
							height 25%
							background-color white
							margin 25% auto
							border 1px solid black
							border-radius 5px
							outline 1px solid #7F7F7F
							outline-offset: -8px
							p
								color #00A9FF
								padding 0
								margin  6px 15px

						&:hover
							background-color rgba(10,106,186,0.8)
							opacity 1		
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			width 100%
			height 100px
			background-color #232323
		#down
			article
				text-align center
				.circle
					width 290px
					height 290px
					margin auto
					Transition 1s linear
					grayScale(100%)
					&:hover
						grayScale(0%)
				#image7
					background url(../Images/aboutme.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image8
					background url(../Images/curriculum.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image9
					background url(../Images/contacto.png)
					background-size 100% 100%
					background-repeat no-repeat
				
		
	footer
		background rgba(0,0,0, 0.85)
		width 100%
		height 100px
		

@media screen and (min-width:646px) and (max-width:938px)

	html,body
		height 100%
		width 100%
	header
		background url(../Images/fondo.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		padding-top 1px 
		height 100%
		text-align center
		width 100%
		#photo
			background url(../Images/Logo.png)
			background-size 100%
			background-repeat no-repeat
			height 150px
			margin 45px auto
			width 150px
		p
			font-size 18px
			margin auto
			width 80%
			padding 0 0 20px 0
		nav
			text-align left
			background-color #575757
			width 100%
			position absolute
			vertical-align bottom
			bottom -1px
			padding-top 5px
			
			h2
				display none
			#menu
				display none
			#logo
				position absolute
				background url(../Images/Logo.png)
				background-size 100%
				background-repeat no-repeat
				height 50px
				width 50px
				left 10px
				top 10px
			
			ul
				margin 0px
				padding 0px
				float right
				list-style none
				display inline
				
				li
					display inline-block
					margin 30px 20px 0px 0px
					border-bottom 2px solid #575757
					padding-bottom 10px
					
					a
						width 100%
						text-decoration none
						color white
					&:hover 
						border-bottom 2px solid white		
	main
		width 100%
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		section
			width: 625px;
			margin 50px auto
			article
				margin 5px
				width 300px
				display inline-table		
				
				.image
					width 290px
					height 290px
					border 2px solid white
					margin auto
					Transition .6s linear
					
					.alpha
						width 100%
						height 100%
						opacity 0
						Transition .6s linear
						padding-top 1px
							
						.hiddenDiv
							text-align center
							width 70%
							height 25%
							background-color white
							margin 25% auto
							border 1px solid black
							border-radius 5px
							outline 1px solid #7F7F7F
							outline-offset: -8px
							p
								color #00A9FF
								padding 0
								margin  6px 15px

						&:hover
							background-color rgba(10,106,186,0.8)
							opacity 1		
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			width 100%
			height 100px
			background-color #232323
		#down
			article
				text-align center
				.circle
					width 290px
					height 290px
					margin auto
					Transition 1s linear
					grayScale(100%)
					&:hover
						grayScale(0%)
				#image7
					background url(../Images/aboutme.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image8
					background url(../Images/curriculum.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image9
					background url(../Images/contacto.png)
					background-size 100% 100%
					background-repeat no-repeat
				
		
	footer
		background rgba(0,0,0, 0.85)
		width 100%
		height 100px

@media screen and (max-width:645px)

	html,body
		min-width 280px
		height 100%
		width 100%
	header
		background url(../Images/fondo.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		padding-top 1px 
		height 100%
		text-align center
		width 100%
		#photo
			background url(../Images/Logo.png)
			background-size 100%
			background-repeat no-repeat
			height 150px
			margin 45px auto
			width 150px
		p
			font-size 18px
			margin auto
			width 80%
			padding 0 0 20px 0
		nav
			text-align left
			background-color #575757
			width 100%
			position absolute
			vertical-align bottom
			bottom -1px
			padding-top 5px
			h2
				display inline-block
				width 85%
				padding 0
				margin 5px 0 5px 15px
			#menu
				border-radius 100%
				position absolute
				display inline-block
				background #00A9FF url(../Images/menu.png)
				background-size 100%
				background-repeat no-repeat
				height 29px
				width 29px
				right 15px
				top 8px
			#logo 
				display none	
			ul
				display none
				list-style none
				margin 0
				padding 0
				width 100%
				position absolute
				li
					background-color #D7D7D7
					width 100%
					text-align center
					padding 10px 0
					a
						color black
						text-decoration none
						
					&:hover
						background-color #818181
	main
		width 100%
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		section
			width 100%
			
			article
				margin 100px auto
				width 270px
				display block
					
				
				.image
					width 260px
					height 260px
					border 2px solid white
					margin auto
					Transition .6s linear
					
					.alpha
						width 100%
						height 100%
						opacity 0
						Transition .6s linear
						padding-top 1px
							
						.hiddenDiv
							width 70%
							height 25%
							background-color white
							margin 25% auto
							border 1px solid black
							border-radius 5px
							outline 1px solid #7F7F7F
							outline-offset: -8px
							p
								color #00A9FF
								padding 0
								margin 0

						&:hover
							background-color rgba(10,106,186,0.8)
							opacity 1		
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			width 100%
			height 75px
			background-color #232323
		#down
			article
				text-align center
				.circle
					width 260px
					height 260px
					margin auto
					Transition 1s linear
					grayScale(100%)
					&:hover
						grayScale(0%)
				#image7
					background url(../Images/aboutme.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image8
					background url(../Images/curriculum.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image9
					background url(../Images/contacto.png)
					background-size 100% 100%
					background-repeat no-repeat
				
		
	footer
		background rgba(0,0,0, 0.85)
		width 100%
		height 100px
		
.fixed
	position fixed
	top  0
	left  0
	height 62px
	z-index 999
		
@media screen and (max-device-width:800px) 

	html,body
		height 100%
		width 100%
	header
		background url(../Images/fondo.png)
		background-size cover
		background-repeat no-repeat
		background-attachment scroll
		background-position center center
		padding-top 1px 
		height 100%
		text-align center
		width 100%
		#photo
			background url(../Images/Logo.png)
			background-size 100%
			background-repeat no-repeat
			height 150px
			margin 45px auto
			width 150px
		p
			font-size 18px
			margin auto
			width 80%
			padding 0 0 20px 0
		nav
			text-align left
			background-color #575757
			width 100%
			position absolute
			vertical-align bottom
			bottom -1px
			padding-top 5px
			h2
				display none
				
			#menu
				display none
			#logo
				position absolute
				background url(../Images/Logo.png)
				background-size 100%
				background-repeat no-repeat
				height 50px
				width 50px
				left 10px
				top 10px
			ul
				margin 0px
				padding 0px
				float right
				list-style none
				display inline
				
				li
					display inline-block
					margin 30px 20px 0px 0px
					border-bottom 2px solid #575757
					padding-bottom 10px
					
					a
						width 100%
						text-decoration none
						color white
					&:hover 
						border-bottom 2px solid white
	main
		width 100%
		background rgba(155, 155, 155, 0.67)
		padding 30px 0px
		section
			width 100%
			
			article
				margin 100px auto
				width 300px
				display block
					
				
				.image
					width 290px
					height 290px
					border 2px solid white
					margin auto
					Transition .6s linear
					
					.alpha
						width 100%
						height 100%
						opacity 0
						Transition .6s linear
						padding-top 1px
							
						.hiddenDiv
							width 70%
							height 25%
							background-color white
							margin 25% auto
							border 1px solid black
							border-radius 5px
							outline 1px solid #7F7F7F
							outline-offset: -8px
							p
								color #00A9FF
								padding 0
								margin 0

						&:hover
							background-color rgba(10,106,186,0.8)
							opacity 1		
						
				#image1
					background url(../Images/javascript.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image2
					background url(../Images/design.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image3
					background url(../Images/php.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image4
					background url(../Images/android.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image5
					background url(../Images/vstudio.png)
					background-size 100% 100%
					background-repeat no-repeat
				#image6
					background url(../Images/erp.png)
					background-size 100% 100%
					background-repeat no-repeat				

		#line
			width 100%
			height 75px
			background-color #232323
		#down
			article
				text-align center
				.circle
					width 290px
					height 290px
					margin auto
					Transition 1s linear
					grayScale(100%)
					&:hover
						grayScale(0%)
				#image7
					background url(../Images/aboutme.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image8
					background url(../Images/curriculum.png)
					background-size 100% 100%
					background-repeat no-repeat
				
				#image9
					background url(../Images/contacto.png)
					background-size 100% 100%
					background-repeat no-repeat
				
		
	footer
		background rgba(0,0,0, 0.85)
		width 100%
		height 100px
		
.fixed
	position fixed
	top  0
	left  0
	height 62px
	z-index 999